#slideshow {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    background-image: url("../img/gallery/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

#offset {
    height: 15vh;
}

#logo-gallery {
    width: 50px;
    height: 50px;
    background-color: black;
    background-image: url("../img/gallery.gif");
    margin-block-end: 1em;
    margin-block-start: 1em;
    image-rendering: pixelated;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
}

#gallery {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumb {
    background-position: center;
    width: 100px;
    height: 100px;
    transition: width 0.5s;
    transition: height 0.5s;
    background-size: cover;
}


.thumb:hover {
    cursor: pointer;
}